body {
	font-family: 'Roboto', sans-serif;
}
code {
	font-color: 'gray';
	font-family: 'Inconsolata', monospace;
}

footer3 {
	background-color: #37eb34;	
}
blink {
	animation: blinker 0.0169491525s linear infinite;
	}
@keyframes blinker {	
50% { opacity: 0; }
}
.blink-one {
	animation: blinker-one 0.0169491525s linear infinite;
	}
@keyframes blinker-one {	
		0% { opacity: 0; }
}
.blink-two {
animation: blinker-two 0.0169491525s linear infinite;
}
@keyframes blinker-two {	
	100% { opacity: 0; }
}
