body {
	font-family: 'Roboto', sans-serif;
}
code {
	font-color: 'gray';
	font-family: 'Inconsolata', monospace;
}
blink {
	animation: blinker 0.0169491525s linear infinite;
	}
@keyframes blinker {	
50% { opacity: 0; }
}
.blink-one {
	animation: blinker-one 0.0169491525s linear infinite;
	}
@keyframes blinker-one {	
		0% { opacity: 0; }
}
.blink-two {
animation: blinker-two 0.0169491525s linear infinite;
}
@keyframes blinker-two {	
	100% { opacity: 0; }
}
/* Calender */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white;
}
